/* 
   1st width update at
   860 (body width) + 2 * 60 (body padding)
   = 980 px
*/
@media print, screen and (max-width: 980px) {
    body {
        width: 600px;
    }
    aside {
        width: 200px;
    }
    main {
        width: 375px;
    }
    #map {
	width: 375px;
	height: 250px;
    }
}

/*
  2nd width update at
  600 (body width) + 2 * 60 (body padding)
  = 720 px
*/
@media print, screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
	width: auto;
	padding: 10px;
    }

    main {
	float: none;
	position: static;
        width: auto;
    }

    #map {
	width: auto;
    }
    
    .language-bar {
	text-align: right;
    }

    .portrait {
	float: right;
	width: 120px;
    }
    
    .burger {
	display: block;
    }
    
    aside {
	position: fixed;
	
	top: 0;
	left: -260px;
	
	width: 260px;
	height: 100%;
	
	background: var(--color-bg);
	
	overflow-y: auto;
	
	transition: left 0.3s ease;
	
	z-index: 1000;
	
	padding-top: 60px;
    }

    #menu-toggle:checked ~ aside {
	left: 0;
    }
    
    
    #menu-toggle:checked ~ .overlay {
	display: block;
    }
    
    main {
	margin-left: 0;
    }
}

/*
  3rd width update at
  260 (name width) + 120 (photo width) + 2 * 60 (body padding)
  = 500 px
*/

@media print, screen and (max-width: 500px) {
    main p {
	text-align: left;
    }
}
