@import "fonts.css";
@import "theme.css";
@import "fontawesome-all.css";



/* STRUCTURE */
html {
    scroll-behavior: smooth;
}
body {
    width: 860px;
    
    margin: 0 auto;
    padding: 60px;
    
    color: var(--color-text);
    background-color: var(--color-bg);
    
    font-family: var(--font-paragraph);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
}
aside {
    width: 250px;
    float: left;
}
main {
    width: 550px;
    float: right;
}

/* TITLES */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    margin: 0 0 20px;
}
h1 {
    color: var(--color-h1);
    font-size: 3rem;
    line-height: 1.3;
}
aside h1 {
    font-size: 2.5rem;
}
h2 {
    color: var(--color-h2);
    font-size: 2rem;
}
h3 {
    color: var(--color-h3);
    font-size: 1.5rem;
}
h4, h5, h6 {
    color: var(--color-h4-to-h6);
}

/* COMPONENTS */
p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
}
ul.content {
    margin-left: -1.4em;
}
.last-update {
    text-align: right;
}

/* LINKS */
a {
    color: var(--color-a-text);
    text-decoration: none;
}
a:hover, a:focus {
    color: var(--color-a-text-hvr);
}
a small {
    font-size: 11px;
    color: var(--color-small-in-a);
    display: block;
    margin-top: -0.3em;
}

/* TYPOGRAPHY */
strong {
    color: var(--color-bold);
    font-weight: bold;
}
small {
    display: inline-block;
    font-size: 11px;
    line-height: 1.3em;
}
blockquote {
    border-left: 4px solid var(--color-blockquote);
    padding: 0 0 0 20px;
    font-style: italic;
    margin: 0;
}

/* CODE */
code, pre {
    font-family: var(--font-code);
    color: var(--color-code-text);
}
pre {
    display: inline-block;
    padding: 8px 15px;
    background: var(--color-code-bg);
    border-radius: 5px;
    border: 1px solid var(--color-code-border);
    font-size: 12px;
    line-height: 1rem;
}
kbd {
    background-color: var(--color-kbd-bg);
    border: 1px solid var(--color-kbd-border);
    border-bottom-color: var(--color-kbd-border-bottom);
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 var(--color-kbd-shadow);
    color: var(--color-kbd-text);
    font-size: 11px;
    padding: 3px 5px;
    display: inline-block;
}

/* TABLES */
table {
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
}
th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid var(--color-table-border-bottom);
}
th {
    color: var(--color-table-header);
}

/* IMAGE */
img {
    max-width: 100%;
}
.photo {
    border-radius: 100%;
    margin-bottom: 10px;
    max-width: 90%;
}

/* LANGUAGES */
.language-bar {
    text-align: right;
}
.language-flag {
    display: inline-block;
    height: 1em;
    width: auto;
    transform: translate(0, 0.1em);
}

/* GIF */
.new-gif {
    display: inline-block;
    transform: translate(0, 0.3em);
}

/* BUTTONS */
.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    line-height: 1.5;

    opacity: 0.5;
    color: var(--color-buttons-main-text);
    background-color: var(--color-buttons-main-bg);
}
.back-to-top:hover, .back-to-top:focus {
    color: var(--color-buttons-main-text);
    opacity: 1;
    background-color: var(--color-buttons-main-border);
}

/* MAP */
#map {
    width: 550px;
    height: 400px;
}


/*@import "media-queries.css";*/

/* 
   1st width update at
   860 (body width) + 2 * 60 (body padding)
   = 980 px
*/
@media print, screen and (max-width: 980px) {
    body {
        width: 600px;
    }
    aside {
        width: 200px;
    }
    main {
        width: 375px;
    }
    #map {
	width: 375px;
	height: 250px;
    }
}

/*
  2nd width update at
  600 (body width) + 2 * 60 (body padding)
  = 720 px
*/
@media print, screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
	width: auto;
    }

    main {
        float: none;
        position: static;
        width: auto;
    }

    #map {
	width: auto;
    }
    
    aside {
        float: none;
        position: static;
        width: auto;
    }

    .language-bar {
	text-align: left;
    }

    .photo {
	float: right;
        width: 120px;
    }
}

/*
  3rd width update at
  260 (name width) + 120 (photo width) + 2 * 60 (body padding)
  = 500 px
*/

@media print, screen and (max-width: 500px) {
    body {
        padding: 10px;
    }
}
